---
import Arrow from "~/components/Arrow.astro";
import BodyList from "~/components/BodyList.astro";
import BodyText from "~/components/BodyText.astro";
import Button from "~/components/Button.astro";
import CommonContent from "~/components/CommonContent.astro";
import Hero from "~/components/hero/Hero.astro";
import HeroContentsStandard from "~/components/hero/HeroContentsStandard.astro";
import { links } from "~/data/links";
import PageLayout from "~/layouts/PageLayout.astro";

const description =
	"Advice and general information for submitting talks to SquiggleConf 2025";

const topicAreas = [
	[`Accessibility`, `the accessibility tree, WCAG, web accessibility`],
	[`Building`, `CLI tools, deployments, monorepo management`],
	[
		`Documentation`,
		`Writing docs, tools to manage and/or share them, explaining code`,
	],
	[
		`Editors`,
		`Tools such as IDEs along with integrations and plugins built on them`,
	],
	[
		`Go and/or Zig`,
		`Using the popular low-level languages for web development and/or tooling`,
	],
	[
		`Open Source`,
		`The making, maintenance, release, and socialization of shared software`,
	],
	[`Performance`, `Enhancing performance of apps, sites, or any web dev tools`],
	[`Runtimes`, `Execution environments such as Bun, Deno, and Node.js`],
	[`Rust`, `Working in Rust for the purposes of web dev apps and/or tooling`],
	[
		`Testing`,
		`The art of verifying code, or building tools to help developers test`,
	],
	[`Tooling`, `Debuggers, integrations, and general dev tools themselves`],
	[
		`TypeScript`,
		`Integrating, working with, or even contributing to our favorite JS superset`,
	],
	[`WebAssembly`, `Tooling or usage of WebAssembly/WASI/WASM`],
	[
		`Other`,
		`Something fun or incredible. We love off-the-beaten-tail fun things.`,
	],
];
---

<PageLayout description={description} title="Call for Proposals">
	<Hero>
		<HeroContentsStandard heading="Call for Proposals" squiggly="wide">
			{description}
		</HeroContentsStandard>
	</Hero>

	<CommonContent heading="We Appreciate You">
		<BodyText>
			Thank you so much for your interest in submitting a speak at SquiggleConf
			2025! This page is a general guide for what you can expect in submitting,
			including tips for what we're looking for.
		</BodyText>

		<Button
			as="a"
			class="apply-button apply-button-top"
			size="large"
			variant="emphasized"
			href={links.cfp}
			target="_blank"
		>
			Apply to the CFP here!
			<Arrow />
		</Button>
	</CommonContent>

	<CommonContent heading="CFP Highlights">
		<BodyList as="ul">
			<li>
				<strong>📆 Deadline:</strong> We are accepting submissions through May 23rd.
				You'll hear from us by June 9th.
			</li>
			<li>
				<strong>🤝 Acceptance:</strong> If we accept your talk, we'll ask you to
				confirm within 7 days of hearing from us.
			</li>
			<li>
				<strong>❤️ Experience:</strong> Speakers of all experience levels, including
				first-timers, are encouraged to apply.
			</li>
			<li>
				<strong>👍 Expectations:</strong> Giving us a remote dry run of a rough draft
				of your talk the week before the conference.
			</li>
		</BodyList>
	</CommonContent>

	<CommonContent heading="Conference Details" level="h3">
		<BodyList as="ul">
			<li>
				<strong>🗺️ Time & Place:</strong> Thursday & Friday September 18th & 19th
				in Boston, Massachusetts. The Simons Theater at the New England Aquarium,
				right on the ocean coastline in the very center of downtown Boston.
			</li>
			<li>
				<strong>🗣️ Format:</strong> In-person, either a 30 minute talk + 5 minutes
				for audience questions, or a 10 minute lightning talk.
			</li>
			<li>
				<strong>✈️ Covered:</strong> We can cover travel and accommodations for speakers,
				though we have a limited budget and prefer companies to pay if possible.
				We can work with you.
			</li>
		</BodyList>
	</CommonContent>

	<CommonContent heading="CFP Timeline">
		<BodyText>We will respond to every talk proposal submitted.</BodyText>
		<br />
		<BodyList as="ul">
			<li>
				<strong>March 3rd:</strong> CFP opens
			</li>
			<li>
				<strong>May 23rd:</strong> CFP closes
			</li>
			<li>
				<strong>June 9th:</strong> All CFP submitters will have heard back from us
			</li>
		</BodyList>
		<br />
		<BodyText>
			If we accept your submission, we will expect you to accept or reject our
			invitation within a week of hearing from us.
		</BodyText>
		<br />
		<BodyText>
			We will create a "marketing title" for your talk with you that will be
			used to advertise your talk. There may be a completely different title
			used for the YouTube video.
		</BodyText>
	</CommonContent>

	<CommonContent heading="Speaker Expectations">
		<BodyText>
			Speakers will receive information regarding a speaker/sponsor dinner, a
			speakers-only private event, opportunities to hang out during the
			conference, and any volunteer needs.
		</BodyText>
		<br />
		<BodyList as="ul">
			<li>
				<strong>
					We require a dry run of a final draft of your presentation the week
					before the conference.
				</strong>
				This will help us check talks for accessibility best practices.
			</li>
			<li>
				<strong>September 5th</strong>: Deadline for RSVPing to the
				speaker+sponsor dinner and speaker+organizer activity
			</li>
			<li>
				<strong>October 10th</strong>: Deadline to submit travel receipts for
				reimbursement
			</li>
		</BodyList>
	</CommonContent>

	<CommonContent heading="Tips and Tricks">
		<BodyText>
			We suggest reading <a
				href="https://www.joshuakgoldberg.com/blog/how-i-apply-to-conferences/?utm-source=squiggleconfcfp"
				target="_blank">this CFP help guide</a
			> for an overview of how to submit to a CFP.
		</BodyText>
	</CommonContent>

	<CommonContent heading="Asking for Help" level="h3">
		<BodyText>
			We're always happy to give advice and generally help in submitting to the
			CFP! There are no "dumb" questions.
		</BodyText>
		<br />
		<BodyText>
			Please don't hesitate to reach out to <a
				href={links.cfpQuestionsEmail}
				target="_blank">cfp@squiggleconf.com</a
			> or on Discord in the <a href={links.cfpQuestionsDiscord} target="_blank"
				>#cfp-questions</a
			> channel.
		</BodyText>
	</CommonContent>

	<CommonContent heading="Timing" level="h3">
		<BodyText>
			We don't factor in how early or late a CFP is submitted. We recommend not
			procrastinating until the last minute, so you don't forget to submit.
		</BodyText>
	</CommonContent>

	<CommonContent heading="Topic Suggestions" level="h3">
		<BodyText>
			We plan on including at least one talk in each of the following
			categories:
		</BodyText>

		<br />

		<BodyList as="ul">
			{
				topicAreas.map(([topic, description]) => (
					<li>
						<strong>{topic}:</strong> {description}
					</li>
				))
			}
		</BodyList>
		<br />
		<BodyText> We don't plan to emphasize the following subjects: </BodyText>
		<br />
		<BodyList as="ul">
			<li>
				<strong>AI:</strong> We absolutely welcome AI being in your talk, but the
				primary topic(s) should be centered on a dev tooling category such as one
				our suggested ones.
			</li>
			<li>
				<strong>Blockchain/Crypto/NFTs:</strong> We doubt these will be applicable
				and useful, but we are open minded and welcome you to make your case.
			</li>
		</BodyList>

		<Button
			as="a"
			class="apply-button apply-button-bottom"
			size="large"
			variant="emphasized"
			href={links.cfp}
			target="_blank"
		>
			Apply to the CFP here!
			<Arrow />
		</Button>
	</CommonContent>
</PageLayout>

<style>
	.apply-button {
		margin: auto;
		gap: 0.5rem;
	}

	.apply-button-top {
		margin-top: 2rem;
	}

	.apply-button-bottom {
		margin: 3.5rem auto 0;
	}
</style>
